<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Menu</title>
</head>
<body>
  @Html.ActionLink("React Menu", "React", "Menu") <br />
  @Html.ActionLink("Angular Menu", "Angular", "Menu")<br />
</body>
</html>
