<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title></title>
  <script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
  <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
  <script src="~/ReactComponents/ContantsReact.js"></script>
  <script src="~/ReactComponents/ButtonClasess.js"></script>
  <script type="text/babel">
    //var Component=React.Component;
    <h1>Hiiiii</h1>;

    class MyButton extends Component
    {
    render(){
    return (
    <button onClick={this.Push}>Push</button>);
    }
    Push()
    {
    console.log('Push Push');
    }
    }
    ReactDOM.render
    (
    <MyButton />,
    document.querySelector("#CustomHello")
    );
    ReactDOM.render
    (
    HtmlCodeButton,
    document.querySelector("#Container")
    );
  </script>

</head>
<body>
  <div id="CustomHello">
  </div>
  <div id="Container">
  </div>
</body>

</html>
